.form-container{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.signup-form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    /* margin-left: 50px; */
    width: 250px;
    /* padding: 10px 20px 10px 10px; */
}
.heading{
    text-align: center;
}
input{
    width: 100%;
    height: 25px;
    border: 1px solid black;
}

label{
    font-size: 22px;
}
.form-submit{
    background-color: #7dd3fc;
    padding: 10px;
    width: 56px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
}
.btn-submit{
    display: flex;
    justify-content: center;
}